streamlit==1.36.0
pandas==1.5.3
numpy>=1.24.0  # numpy のバージョンを更新
pip>=25.0.1  # pip の最新バージョン
setuptools>=65.5.0  # setuptools も最新にする
matplotlib==3.8.4
seaborn==0.13.2
scipy==1.9.3
japanize-matplotlib
scikit-learn>=1.2.0  # Python 3.12 でも動くバージョンに変更
